Q1. Create one variable containing following type of data:

(i)	string

(ii) list

(iii) float

(iv) tuple

In [1]:
# (i) string
name = 'Mohit'

# (ii) list
lst = [1,2,'A', 'B']

# (iii) float
dec = 3.10

# (iv) tuple
tup = (1,2,'A', 'B')

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1

What will be the data type of the above given variable

Answer

(i) str

(ii) str

(iii) list

(iv) int

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [2]:
# (i) / forward slash operator is used for division operation.

div = 10/3
print(div)

3.3333333333333335

In [3]:
# (ii) % modulus operator, It returns the remainder of the division between two numbers.

rem = 10%3
print(rem)

1

In [4]:
# (iii) // floor division. It returns the largest integer less than or equal to the division result

floor = 10//3
print(floor)

3

In [5]:
# (iv) ** operator is used for exponentiation, which raises a number to a power.

op = 10**3
print(op)

1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [6]:
lst = [1,2,3,['A', 'B', 'C'], 1.5, 'Mohit', 1+2j , (1,2), {'a':1, 'b':2}, True]

for i in lst:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
['A', 'B', 'C'] <class 'list'>
1.5 <class 'float'>
Mohit <class 'str'>
(1+2j) <class 'complex'>
(1, 2) <class 'tuple'>
{'a': 1, 'b': 2} <class 'dict'>
True <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [7]:
def calculate_division(a, b):
    count = 0

    while a >= b:
        if a % b == 0:
            count += 1
            a = a / b
        else:
            break

    return count

# Example usage
number_a = 64
number_b = 4

divisions = calculate_division(number_a, number_b)
print(f"{number_a} is divisible by {number_b}, {divisions} times.")

64 is divisible by 4, 3 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not

In [8]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

for i in lst:
    if i%3==0:
        print(f'{i} is divisible by 3')
    else:
        print(f'{i} is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

1. Mutable data types are those whose values can be modified after they are created

    Example: List, Dictionaries, Set

In [9]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [10]:
my_dict = {'name': 'John', 'age': 25}
my_dict['age'] = 26
print(my_dict)

{'name': 'John', 'age': 26}

2. Immutable data types are those whose values can not be modified after they are created

    Example: String, Int, Float, Tuples

In [11]:
my_list = (1, 2, 3)
my_list.append(4)
print(my_list)

AttributeError: 'tuple' object has no attribute 'append'